﻿
body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
input {
    height: 24px;
}
#board {
}
.auto-style1 {
    width: 20px;
    height: 20px;
}

.container {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0px;
    padding: 10px;
    clear: both;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #512515;
    background-image: url('img/wood.png');
    color: #FFFFFF;
}
.footer {
    margin: 0px;
    padding: 10px;
    clear: both;
    font-style: italic;
    position: fixed;
    top: 760px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #512515;
    background-image: url('img/wood.png');
    color: #FFFFFF;
}
.content {
    margin: 0px;
    clear: both;
}

.game-area {
    margin: 0px;
    padding: 0px;
    float: left;
    position: fixed;
    top: 300px;
    left: 240px;
    z-index: 0;
    /*visibility: hidden;*/
}
.player {
    position: fixed;
    top: 66px;
    left: 6px;
    width: 200px
}
.moves {
    position: fixed;
    top: 240px;
    left: 6px;
    width: 200px;
    height: 450px;
    overflow: auto;
}
.game-area {
    margin: 0px;
    padding: 0px;
    float: left;
    position: fixed;
    top: 60px;
    left: 240px;
}
.chatbox {
    position: fixed;
    top: 66px;
    left: 900px;
    width: 400px;
    height: 60px;
}
.discussion {
    position: fixed;
    top: 160px;
    left: 900px;
    width: 400px;
    height: 550px;
    overflow: auto;
}

.login {
    position: fixed;
    top: 300px;
    left: 400px;
    z-index: 1;
    overflow: auto;
}

.panel {
    border-style: solid;
    border-width: 2px;
    border-color: #934426 #241109 #241109 #934426;
    margin: 0px;
    padding: 10px;
    float: left;
    background-color: #512515;
    background-image: url('img/wood.png');
    color: #FFFFFF;
}
.panel-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.panel-row {
    margin-bottom: 10px;
    white-space: nowrap;
}

.stone0 {
    background: url('jgo/small/black.png') no-repeat top left;
}
.stone1 {
    background: url(jgo/small/white.png) no-repeat top left;
}
.moves {
    padding: 4px 0px 4px 20px;
    margin: 4px;
    vertical-align: middle;
}
.move {
    font-weight: bold;
    vertical-align: middle;
    color: #FFFFFF;
}
.move0 {
    /*list-style-image: url('jgo/small/black.png');*/
    padding: 0px;
    vertical-align: middle;
    color: red;
    margin: 0px;
}
.move1 {
    /*list-style-image: url('jgo/small/black.png');*/
    vertical-align: middle;
    color: black;
    margin: 0px;
}
.move2 {
    /*list-style-image: url(jgo/small/white.png);*/
    vertical-align: middle;
    color: white;
    margin: 0px;
}
